ul {
  list-style-type: none;
}

.footer_content {
 display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #EAEAEA;
  color: #000;
}

.title {
  margin-top: 75px;
}

h1 {
  font-family: 'Righteous', cursive;
}

li {
  padding: 10px;
}
