<div class="footer">
  <div class="footer_content">
    <div class="title">
      <h1>VidStack</h1>
    </div>
    <div class="list">
      <ul>
        <li><a href="https://github.com/Gbrad1"><img src="../../assets/images/github.png" alt="github logo">Giles Bradford</a></li>
        <li><img src="../../assets/images/github.png" alt="github logo">Maurice Russ</li>
        <li><img src="../../assets/images/github.png" alt="github logo">Chip Fody</li>
        <li><img src="../../assets/images/github.png" alt="github logo">Han Lin</li>
      </ul>
    </div>
  </div>
</div>
