<div class="body_container">
  <div class="body_content">
<!--    <mat-video title="Our first VidStack video!" [autoplay]="false" [preload]="true" [fullscreen]="true" [download]="false"   color="accent" spinner="hourglass" poster="image.jpg">-->
<!--      <source matVideoSource src="https:/videolibrary-video-bucket.s3.amazonaws.com/1587227626807-Hand_Washing_-_34091.mp4" type="video/mp4">-->
<!--&lt;!&ndash;      <source src="tutorial.webm" type="video/webm">&ndash;&gt;-->
<!--      <track matVideoTrack src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English">-->
<!--      <track src="subtitles_no.vtt" kind="subtitles" srclang="no" label="Norwegian">-->
<!--    </mat-video>-->

    <video width="320" height="240" controls>
      <source src="https:/videolibrary-video-bucket.s3.amazonaws.com/1587227626807-Hand_Washing_-_34091.mp4" type="video/mp4">
      <!--      <source src="tutorial.webm" type="video/webm">-->" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </div>
</div>
