<div class="videos_container">
  <div class="video_content">
    <h2>Welcome to VidStack</h2>
    <ul class="videoList">
      <li *ngFor="let video of videoArray | reverse" class="listItem_video">
          <div class="video_title_above_video">{{video.videoTitle}}</div>
          <mat-video class="video_item" [keyboard]="false" [preload]="true" spinner="hourglass"  src="{{video.videoPath}}"></mat-video>
          <div class="video_button_container">
            <button mat-stroked-button [routerLink]="['/comments', video.id]" class="video_button" (click)="openVideoInNewTab(video.id)">Comment</button>
            <button mat-stroked-button [routerLink]="['/storedComments', video.id]" class="comment_button">Show Comments</button>
          </div>
      </li>
    </ul>
  </div>
</div>



<!--
<ul class="videoList">
  <li *ngFor="let video of videoArray | reverse" class="listItem_video">
    <form #commentForm="ngForm" (ngSubmit)="commentOnVideo(commentForm.value, video.id)">
      <div class="video_title_above_video">{{video.videoTitle}}</div>
      <mat-video class="video_item" [keyboard]="false" [preload]="true" spinner="hourglass"  src="{{video.videoPath}}"></mat-video>
      <mat-form-field class="comment_block">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput class="comment_field" name="comment" rows="5" required [(ngModel)]="selectedValue"></textarea>
      </mat-form-field>
      <div class="video_button_container">
        <button mat-stroked-button class="video_button" type="submit" [disabled]="!commentForm.form.valid">Submit</button>
        <button mat-stroked-button class="video_button">Save Video</button>
      </div>
    </form>
  </li>
</ul>-->
