



<div class="col-md-4 p-2" *ngFor="let post of allPost">

  <!-- single post card -->
  <div class="card shadow">
    <div class="card-body">
      <h5 class="card-title text-center ">{{post.name}} {{post.id}}</h5>
      <p class="card-text">{{post.dis}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <!-- single post card end -->

</div>
<!-- infinite scroll div -->
<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <div class="row pt-5">

    <div class="col-md-4 p-2" *ngFor="let post of  allPost">

      <!-- single post card -->
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title text-center ">{{post.name}} {{post.id}}</h5>
          <p class="card-text">{{post.dis}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <!-- single post card end -->

    </div>

  </div>

</div>

<!-- infinity scroll div end -->
<!-- sinner -->
<div class="row pb-5">
  <div class="col-md-12 p-5">
    <ngx-spinner
      bdOpacity = 0.9
      bdColor = ""
      size = "default"
      color = "#581f87"
      type = "la-square-jelly-box la-2x"
      [fullScreen] = "false"
    >
    </ngx-spinner>
  </div>
</div>
