
<div class="uploadFileContainer">
  <h2 class ='toCenter'>Hi! I'm upload bot.</h2>
  <p class ='toCenter'>Please add your title and select the mp4 file to upload to your account.</p>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Video title</mat-label>
        <input matInput placeholder="Ex. The Ultimate showdown">
      </mat-form-field>
    <br>
    <input type="file" accept="video/mpeg4-generic">
    <button mat-raised-button color="primary">Upload</button>
  </form>
</div>

