<mat-video title="Our first VidStack video!" [autoplay]="false" [preload]="true" [fullscreen]="true" [download]="false"   color="accent" spinner="hourglass" poster="image.jpg">
  <source matVideoSource src="tutorial.mp4" type="video/mp4">
  <source src="tutorial.webm" type="video/webm">
  <track matVideoTrack src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English">
  <track src="subtitles_no.vtt" kind="subtitles" srclang="no" label="Norwegian">
</mat-video>
<video id="video" src="" autoplay controls></video>


