/*

.comment_block {
  padding-top: 2%;
}

.video_button_container {
  display: flex;
}

.video_button {
  margin-left: 10px;
}

.comment_block {
  width: 100%;
}

.comment_field {
  width: 100%;
}
*/
